body {
    background: rgb(17,17,17);
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(45,45,45,1) 50%, rgba(17,17,17,1) 100%);
    background-repeat: no-repeat;
    min-height: 100vh
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgb(32,32,32);
  background-color: dimgray;
}


a:link {
  text-decoration: none;
  list-style-type: none;
}



li a {
  display: block;
  padding: 20px;
}

.navbar {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
